<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <included>  
	    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
	        <layout class="ch.qos.logback.classic.PatternLayout">  
	            <pattern>logback-local %date{HH:mm:ss.SSS} %-5level [%thread]%logger{56}.%method:%L -%msg%n</pattern>  
	        </layout>  
	    </appender>  
	  
	    <include resource="logback-level-config.xml"/>  
	  
	  	<!--  
	    <root level="DEBUG">  
	        <appender-ref ref="STDOUT"/>  
	    </root>
	    -->  
	</included>
</configuration>  