<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <include resource="src/main/resources/logging/logback-${spring.profiles.active}.xml"/>
    
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    
    <root level="INFO"/>
    
    <!--  
    <logger name="org.platform" level="INFO" />
    <logger name="org.springframework" level="ERROR"/>
 	-->
 
    <springProfile name="development">
        <logger name="org.platform" level="INFO">
        	<appender-ref ref="CONSOLE"/>  
        	<appender-ref ref="FILE"/>  
        </logger>
        <logger name="org.springframework" level="ERROR">
        	<appender-ref ref="CONSOLE"/>  
        	<appender-ref ref="FILE"/>  
        </logger>
    </springProfile>
 
    <springProfile name="test">
        <logger name="org.platform" level="INFO" />
        <logger name="org.springframework" level="ERROR" />
    </springProfile>
    
    <springProfile name="production">
        <logger name="org.platform" level="INFO" />
        <logger name="org.springframework" level="ERROR" />
    </springProfile>
      
</configuration>  