.svn
.metadata
.recommenders
RemoteSystemsTempFiles
Servers
target
classes
WEB-INF/classes/
bin
lib
log
logs
*.log
*.bat
*.dat
*.txt
*.class
*/org.eclipse.wst.common.component
*/org.platform.modules.mapreduce.clean

