<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.platform.modules.user.dao.ResourceDAO">

	<resultMap type="Resource" id="resourceResultMap">
		<id property="id" column="ID"></id>
		<result property="deleteFlag" column="DELETE_FLAG" />
		<result property="type" column="TYPE" />
		<result property="priority" column="PRIORITY" />
		<result property="parentId" column="PARENT_ID" />
		<result property="identity" column="IDENTITY" />
		<result property="name" column="NAME" />
		<result property="icon" column="ICON" />
		<result property="url" column="URL" />
	</resultMap>
	
	<sql id="columnClause">
		ID,NAME,IDENTITY,URL,TYPE,ICON,PRIORITY,DELETE_FLAG,PARENT_ID
	</sql>
	
	<sql id="whereQClause">
		<where>
			<if test="condition.id != null ">
				ID = #{condition.id}
			</if>
			<if test="condition.deleteFlag != null">
				AND DELETE_FLAG = #{condition.deleteFlag}
			</if>
			<if test="condition.type != null">
				AND TYPE = #{condition.type}
			</if>
			<if test="condition.priority != null">
				AND PRIORITY = #{condition.priority}
			</if>
			<if test="condition.parentId != null">
				AND PARENT_ID = #{condition.parentId}
			</if>
			<if test="condition.identity != null and condition.identity != ''">
				AND IDENTITY = #{condition.identity}
			</if>
			<if test="condition.name != null and condition.name != ''">
				AND NAME = #{condition.name}
			</if>
			<if test="condition.icon != null and condition.icon != ''">
				AND ICON = #{condition.icon}
			</if>
			<if test="condition.url != null and condition.url != ''">
				AND URL = #{condition.url}
			</if>
		</where>
	</sql>
	
	<sql id="whereMClause">
		<where>
			<if test="id != null ">
				ID = #{id}
			</if>
			<if test="deleteFlag != null">
				AND DELETE_FLAG = #{deleteFlag}
			</if>
			<if test="type != null">
				AND TYPE = #{type}
			</if>
			<if test="priority != null">
				AND PRIORITY = #{priority}
			</if>
			<if test="parentId != null">
				AND PARENT_ID = #{parentId}
			</if>
			<if test="identity != null and identity != ''">
				AND IDENTITY = #{identity}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name}
			</if>
			<if test="icon != null and icon != ''">
				AND ICON = #{icon}
			</if>
			<if test="url != null and url != ''">
				AND URL = #{url}
			</if>
		</where>
	</sql>
	
	<insert id="insert" keyProperty="id" parameterType="Resource">
		INSERT INTO T_RESOURCE(NAME,IDENTITY,URL,TYPE,ICON,PRIORITY,DELETE_FLAG,PARENT_ID) 
		VALUES(#{name},#{identity},#{url},#{type},#{icon},#{priority},#{deleteFlag},#{parentId})
	</insert>

	<update id="update" parameterType="Resource">
		UPDATE T_RESOURCE
		<set>
			<if test="deleteFlag != null">
				DELETE_FLAG = #{deleteFlag},
			</if>
			<if test="type != null">
				TYPE = #{type},
			</if>
			<if test="priority != null">
				PRIORITY = #{priority},
			</if>
			<if test="parentId != null">
				PARENT_ID = #{parentId},
			</if>
			<if test="identity != null and identity != ''">
				IDENTITY = #{identity},
			</if>
			<if test="name != null and name != ''">
				NAME = #{name},
			</if>
			<if test="icon != null and icon != ''">
				ICON = #{icon},
			</if>
			<if test="url != null and url != ''">
				URL = #{url},
			</if>
		</set>
		<where>
			<if test="id != null ">
				ID = #{id}
			</if>
		</where>
	</update>
	
	<delete id="deleteByPK" parameterType="Long">
		DELETE FROM T_RESOURCE WHERE ID = #{id}
	</delete>
	
	<delete id="delete" parameterType="Resource">
		DELETE FROM T_RESOURCE <include refid="whereMClause" />
	</delete>
	
	<select id="readDataByPK" resultMap="resourceResultMap">
		SELECT <include refid="columnClause" />
		FROM T_RESOURCE WHERE ID = #{id}
	</select>

	<select id="readDataByCondition" resultMap="resourceResultMap">
		SELECT <include refid="columnClause" />
		FROM T_RESOURCE
		<include refid="whereQClause" />
	</select>
	
	<select id="readDataListByCondition" resultMap="resourceResultMap">
		SELECT <include refid="columnClause" />
		FROM T_RESOURCE
		<include refid="whereQClause" />
	</select>
	
	<select id="readDataPaginationByCondition" resultMap="resourceResultMap">
		SELECT <include refid="columnClause" />
		FROM T_RESOURCE
		<include refid="whereMClause" />
	</select>
	
</mapper>
