<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.platform.modules.user.dao.RoleDAO">

	<resultMap type="Role" id="roleResultMap">
		<id property="id" column="ID"></id>
		<result property="deleteFlag" column="DELETE_FLAG" />
		<result property="identity" column="IDENTITY" />
		<result property="name" column="NAME" />
		<result property="desc" column="DESC" />
	</resultMap>
	
	<sql id="columnClause">
		ID,NAME,IDENTITY,DESC,DELETE_FLAG
	</sql>
	
	<sql id="whereQClause">
		<where>
			<if test="condition.id != null ">
				ID = #{condition.id}
			</if>
			<if test="condition.deleteFlag != null">
				AND DELETE_FLAG = #{condition.deleteFlag}
			</if>
			<if test="condition.identity != null and condition.identity != ''">
				AND IDENTITY = #{condition.identity}
			</if>
			<if test="condition.name != null and condition.name != ''">
				AND NAME = #{condition.name}
			</if>
			<if test="condition.desc != null and condition.desc != ''">
				AND DESC = #{condition.desc}
			</if>
		</where>
	</sql>
	
	<sql id="whereMClause">
		<where>
			<if test="id != null ">
				ID = #{id}
			</if>
			<if test="deleteFlag != null">
				AND DELETE_FLAG = #{deleteFlag}
			</if>
			<if test="identity != null and identity != ''">
				AND IDENTITY = #{identity}
			</if>
			<if test="name != null and name != ''">
				AND NAME = #{name}
			</if>
			<if test="desc != null and desc != ''">
				AND DESC = #{desc}
			</if>
		</where>
	</sql>
	
	<insert id="insert" keyProperty="id" parameterType="Role">
		INSERT INTO T_ROLE(NAME,IDENTITY,DESC,DELETE_FLAG) 
		VALUES(#{name},#{identity},#{desc},#{deleteFlag})
	</insert>

	<update id="update" parameterType="Role">
		UPDATE T_ROLE
		<set>
			<if test="deleteFlag != null">
				DELETE_FLAG = #{deleteFlag},
			</if>
			<if test="identity != null and identity != ''">
				IDENTITY = #{identity},
			</if>
			<if test="name != null and name != ''">
				NAME = #{name},
			</if>
			<if test="desc != null and desc != ''">
				DESC = #{desc},
			</if>
		</set>
		<where>
			<if test="id != null ">
				ID = #{id}
			</if>
		</where>
	</update>
	
	<delete id="deleteByPK" parameterType="Long">
		DELETE FROM T_ROLE WHERE ID = #{id}
	</delete>
	
	<delete id="delete" parameterType="Role">
		DELETE FROM T_ROLE <include refid="whereMClause" />
	</delete>
	
	<select id="readDataByPK" resultMap="roleResultMap">
		SELECT <include refid="columnClause" />
		FROM T_ROLE WHERE ID = #{id}
	</select>

	<select id="readDataByCondition" resultMap="roleResultMap">
		SELECT <include refid="columnClause" />
		FROM T_ROLE
		<include refid="whereQClause" />
	</select>
	
	<select id="readDataListByCondition" resultMap="roleResultMap">
		SELECT <include refid="columnClause" />
		FROM T_ROLE
		<include refid="whereQClause" />
	</select>
	
	<select id="readDataPaginationByCondition" resultMap="roleResultMap">
		SELECT <include refid="columnClause" />
		FROM T_ROLE
		<include refid="whereMClause" />
	</select>
	
</mapper>
