<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.platform.modules.user.dao.UserAttributeDAO">

    <resultMap type="UserAttribute" id="userAttributeResultMap">  
        <id property="id" column="ID"/>  
        <result property="userId" column="USER_ID"/>
        <result property="key" column="KEY"/>
        <result property="value" column="VALUE"/>  
        <result property="type" column="TYPE"/>  
    </resultMap>
    
    <sql id="columnClause">
    	ID, USER_ID, `KEY`, VALUE, TYPE
    </sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.userId != null and condition.userId != ''">
    			AND USER_ID = #{condition.userId}
    		</if>
    		<if test="condition.key != null and condition.key != ''">
    			AND `KEY` = #{condition.key}
    		</if>
    		<if test="condition.value != null and condition.value != ''">
    			AND VALUE = #{condition.value}
    		</if>
    		<if test="condition.type != null and condition.type != ''">
    			AND TYPE = #{condition.type}
    		</if>
    	</where>
    </sql>
    
    <insert id="insert" parameterType="UserAttribute">
	    INSERT INTO T_USER_ATTRIBUTE (USER_ID, `KEY`, VALUE, TYPE) 
	    VALUES(#{userId},#{key},#{value},#{type})  
    </insert>
    
    <insert id="insertBatch" parameterType="List">
    	INSERT IGNORE INTO T_USER_ATTRIBUTE (USER_ID, `KEY`, VALUE, TYPE)
    	VALUES
    	<foreach collection="list" index="index" item="item" separator=",">
    		(#{item.userId},#{item.key},#{item.value},#{item.type})
    	</foreach>
    </insert>
    
    <update id="update" parameterType="UserAttribute">
    	INSERT INTO T_USER_ATTRIBUTE (USER_ID, `KEY`, VALUE, TYPE) 
		VALUES(#{userId}, #{key}, #{value}, #{type}) 
		ON DUPLICATE KEY UPDATE VALUE=#{value}, TYPE=#{type};
    </update>
    
    <update id="updateDCoinByUserId" parameterType="Map">
		UPDATE T_USER_ATTRIBUTE 
		SET VALUE = (CAST(VALUE as SIGNED INTEGER) + #{dCoin}) 
		WHERE USER_ID = #{userId} AND `KEY` = 'dCoin';
	</update>
    
    <select id="readDataByCondition" parameterType="map" resultType="UserAttribute" resultMap="userAttributeResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM T_USER_ATTRIBUTE
        <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" parameterType="map" resultType="UserAttribute" resultMap="userAttributeResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM T_USER_ATTRIBUTE
        <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultType="UserAttribute" resultMap="userAttributeResultMap">  
        <![CDATA[ 
            SELECT * FROM T_USER_ATTRIBUTE
        ]]>   
    </select>
    
    <select id="readCountByCondition" resultType="java.lang.Long">  
    	SELECT COUNT(1) FROM T_USER_ATTRIBUTE
        <include refid="whereClause"/>
    </select>
    
</mapper>