<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="src/main/resources/logging/logback-${spring.profiles.active}.xml" />

	<include resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<Target>System.out</Target>
		<encoder>
			<pattern>[%d{HH:mm:ss}][%t][%p][%c]-%m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>info</level>
		</filter>
	</appender>
	
	<appender name="RedisAppender" class="com.cwbase.logback.RedisAppender">
		<source>redis-logstash</source>
		<type>dev</type>
		<host>192.168.0.124</host>
		<port>6379</port>
		<key>logstash:redis</key>
		<tags>dev</tags>
		<mdc>true</mdc>
		<location>true</location>
		<callerStackIndex>0</callerStackIndex>
	</appender>

	<root level="INFO">
		<appender-ref ref="ConsoleAppender" />
		<appender-ref ref="RedisAppender" />
	</root>

	<logger name="org.cisiondata" level="INFO" />
	<logger name="org.springframework" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />

	<springProfile name="development">
		<logger name="org.cisiondata" level="INFO" />
		<logger name="org.springboot" level="ERROR" />
		<logger name="org.apache.zookeeper" level="ERROR" />
	</springProfile>

	<springProfile name="test">
		<logger name="org.cisiondata" level="INFO" />
		<logger name="org.springboot" level="ERROR" />
		<logger name="org.apache.zookeeper" level="ERROR" />
	</springProfile>

	<springProfile name="production">
		<logger name="org.cisiondata" level="INFO" />
		<logger name="org.springboot" level="ERROR" />
		<logger name="org.apache.zookeeper" level="ERROR" />
	</springProfile>

</configuration>  