<?xml version="1.0" encoding="UTF-8"?>
<configuration>  
    <include resource="src/main/resources/logging/logback-${spring.profiles.active}.xml"/>
    
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    
    <root level="INFO"/>
    
    <logger name="org.cisiondata" level="INFO" />
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
 
    <springProfile name="development">
        <logger name="org.cisiondata" level="INFO" />
        <logger name="org.springboot" level="ERROR" />
    	<logger name="org.apache.zookeeper" level="ERROR"/>
    </springProfile>
 
    <springProfile name="test">
        <logger name="org.cisiondata" level="INFO" />
        <logger name="org.springboot" level="ERROR" />
    	<logger name="org.apache.zookeeper" level="ERROR"/>
    </springProfile>
    
    <springProfile name="production">
        <logger name="org.cisiondata" level="INFO" />
        <logger name="org.springboot" level="ERROR" />
    	<logger name="org.apache.zookeeper" level="ERROR"/>
    </springProfile>
      
</configuration>  