<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cisiondata.modules.abstr.dao.CEntityDataDAO">

	<resultMap type="CEntityData" id="entityDataResultMap">  
        <id property="id" column="ID"/>  
        <result property="entityId" column="ENTITY_ID"/>
        <result property="attribute" column="ATTRIBUTE"/>
        <result property="value" column="VALUE"/>  
        <result property="kind" column="KIND"/> 
    </resultMap>
    
    <sql id="columnClause">ENTITY_ID, ATTRIBUTE, VALUE, KIND</sql>
    
    <sql id="whereClause">
    	<where>
    		<if test="condition.entityId != null">
    			ENTITY_ID = #{condition.entityId}
    		</if>
    		<if test="condition.attribute != null and condition.attribute != ''">
    			AND ATTRIBUTE = #{condition.attribute}
    		</if>
    		<if test="condition.value != null and condition.value != ''">
    			AND VALUE = #{condition.value}
    		</if>
    		<if test="condition.valueNE != null and condition.valueNE != ''">
    			AND VALUE != #{condition.valueNE}
    		</if>
    		<if test="condition.valueGT != null and condition.valueGT != ''">
    			AND VALUE &gt; #{condition.valueGT} + 0
    		</if>
    		<if test="condition.valueGE != null and condition.valueGE != ''">
    			AND VALUE &gt;= #{condition.valueGE} + 0
    		</if>
    		<if test="condition.valueLT != null and condition.valueLT != ''">
    			AND VALUE &lt; #{condition.valueLT} + 0
    		</if>
    		<if test="condition.valueLE != null and condition.valueLE != ''">
    			AND VALUE &lt;= #{condition.valueLE} + 0
    		</if>
    		<if test="condition.valueLike != null and condition.valueLike != ''">
    			AND VALUE like "%"#{condition.valueLike}"%"
    		</if>
    		<if test="condition.valueIN != null and condition.valueIN.size() > 0">
    			AND VALUE IN 
    			<foreach collection="condition.valueIN" index="index" item="item" open="(" separator="," close=")"> 
            		#{item} 
        		</foreach> 
    		</if>
    		<if test="condition.kind != null and condition.kind != ''">
    			AND KIND = #{condition.kind}
    		</if>
    	</where>
    </sql>
    
    <insert id="insert" parameterType="CEntityData">
    	INSERT INTO ${table} (ENTITY_ID, ATTRIBUTE, VALUE, KIND) 
        VALUES(#{entityId},#{attribute},#{value},#{kind})  
    </insert>
    
    <insert id="insertBatch" parameterType="map">
    	INSERT IGNORE INTO ${table} (ENTITY_ID, ATTRIBUTE, VALUE, KIND)
    	VALUES
    	<foreach collection="list" index="index" item="item" separator=",">
    		(#{item.entityId},#{item.attribute},#{item.value},#{item.kind})
    	</foreach>
    </insert>
    
    <update id="update" parameterType="CEntityData">
    	UPDATE ${table}
    	<set>
    		<if test="value != null and value != ''">
    			VALUE = #{value},
    		</if>
    		<if test="kind != null and kind != ''">
    			KIND = #{kind}
    		</if>
    	</set>
    	WHERE ENTITY_ID = #{entityId} AND ATTRIBUTE = #{attribute}
    </update>
    
    <delete id="delete" parameterType="CEntityData">
    	DELETE FROM ${table} WHERE ENTITY_ID = #{entityId}
    </delete>
    
    <select id="readDataByCondition" parameterType="map" resultType="CEntityData" resultMap="entityDataResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM ${table} 
        <include refid="whereClause"/>
    </select>
    
    <select id="readDataListByCondition" parameterType="map" resultType="CEntityData" resultMap="entityDataResultMap">  
        SELECT 
        <include refid="columnClause"/>
        FROM ${condition.table} 
        <include refid="whereClause"/>
    </select>
    
    <select id="readDataPaginationByCondition" resultType="CEntityData" resultMap="entityDataResultMap">  
        <![CDATA[ 
            SELECT * FROM ${table}
        ]]>   
    </select>
    
    <select id="readCountByCondition" resultType="java.lang.Long">  
    	SELECT COUNT(1) FROM ${table} 
        <include refid="whereClause"/>
    </select>
    
</mapper>